<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body style="background-color:rgb(25, 183, 72);">

    <div id="content" class="container-fluid">
        <div class="row">
            <br>
            <br>

        </div>
        <div class="row">
            <div class="col-8">
                <img src="img/logo.png" class="center">
            </div>
            <div class="col-3">
                <h1>TutorHood</h1>
                <hr>
                <h2>find a friendly tutor in your neighborhood</h2>

                <h5>
                    made by kasra panahi
                </h5>

                <div class="row">
                    <div class="col-6 center-button">
                        <a href="/login" class="btn btn-lg btn-primary">Login</a>
                    </div>
                    <div class="col-6 center-button">

                        <a href="/register" class="btn btn-lg btn-primary">Register</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>