<h1>Login</h1>

<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" maxlength="12" required>
    </div>

    <h2>Subject of interest as of right now</h2>
    <div class="form-group" id="position">
        <label class="radio-inline"><input type="radio" name="optradio" value="1" required>English</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="2">History</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="3">Language</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="4">Science</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="5">Math</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="6">Computer Science</label>
        
    </div>
    
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<a href="/register">Register</a>