.center {
  width: 90%;
  height: auto;
}

h1 {
  color: rgb(178, 233, 237);
  font-size: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: rgb(178, 233, 237);
  text-align: left;
  font-size: 31px;
}

h5 {
  color: rgba(178, 233, 237, 0.828);
  text-align: left;
}

.super-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

hr {
  border-top: 10px solid white;
  border-radius: 10in;
}

.big-buttons {
  text-align: center;
  line-height: 90px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
